.App {
  text-align: left;
  margin-left: 10px
}

.App-header {
  background-color: white;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-control {
  margin:30px auto;
  width:150px;
  align-items: left;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px;
  position:relative;
}

button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  justify-content: space-evenly;
  position:relative;
  grid-column-gap: 10px;
}

.grid-item {
  padding: 10px;
  text-align: center;
  position:relative;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;
  text-align: left;
}

img {
  border-radius: 10px;
  height: 100%;
  padding: 10px;
  align: center;
  max-width: 100%;
  border: 1px solid #ddd;
}
