.App {
  text-align: left;
  margin-left: 10px
}

.App-header {
  background-color: grey;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control {
  margin:30px auto;
  width:150px;
  align-items: left;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px;
  position:relative;
}

button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

.Pinboard {
  align-items: left;
  border-style: dashed;
  border-color: red;
  margin-left: 10px;
  display: grid;
  justify-content: space-evenly;
  height: 2000px;
  width: 700px;
  position:relative;
}

.grid-container {
  display: grid;
  padding: 10px;
  justify-content: space-evenly;
  position:relative;
}

.grid-item {
  padding: 10px;
  text-align: center;
  position:relative;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
